/*
*   An alternative, simpler style sheet
*/

body {
    background-color: lightcyan;
}

nav {
    font-size: larger;
}

header, footer {
    color: darkblue;
}

h2 {
    color: blue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
